# VS files
*.sln
*.sdf
*.suo
*.vcxproj
*.vcxproj.filters
*.obj
*.exp
*.lib
*.pdb
*.dll
*.ilk
*.exe
*.pc

# CMake files
**/CMakeFiles/**
CMakeCache.txt

# SPIR-V files
*.spv

# external dirs
external/glm/
external/gli/
external/assimp/
external/tbb/
stamp/

#others
*.tlog
*.log
