# VS files
*.sln
*.sdf
*.suo
*.vcxproj
*.vcxproj.filters
*.obj
*.exp
*.lib
*.pdb
*.dll
*.ilk
*.exe
*.pc

# Android Studio directories
**/.externalNativeBuild
**/.gradle
**/.idea
local.properties

# build deps directories
**/_deps
/android/fct

# CMake files
**/CMakeFiles/**
CMakeCache.txt

# SPIR-V files
*.spv

#others
*.tlog
*.log

